# 1차 크롤링 결과물
output/**/*.csv

# 2차 크롤링 결과물
merged/**/*.csv

# 최종 결과물
final/**/*.csv

# Python cache
__pycache__/
*.pyc

# OS / Editor
.DS_Store
.vscode/

# 로컬 전용 스크립트
*_local.py

# env
.env

# test folders
**/test/