version: '3.8'

services:
  app:
    container_name: dalum-app
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      DB_URL: ${DB_URL}
      DB_USER: ${POSTGRES_USER}
      DB_PW: ${POSTGRES_PASSWORD}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    networks:
      - dalum-network

  db:
    container_name: dalum-db
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - dalum-network

  redis:
    container_name: dalum-redis
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    networks:
      - dalum-network

networks:
  dalum-network:
    driver: bridge