# python
__pycache__/
*.pyc
*.pyo

# venv
.venv/
.venv_mp/
venv/

# env
.env

# logs
logs/

# model artifacts
*.pt
*.pth
*.ckpt

# 데이터 및 결과물 제외
/mnt/images/
checkpoint.csv
results.csv

# 모델 웨이트 (용량 커서 제외함//혹시 이상 있으면 이거 수정바람)
models/

#VIT 관련 gitignore

#output
outputs/

#datasets
datasets/

#pycharm
.idea

#python version
.python-version

# datasets 전체 무시
vit/preprocess/datasets/*

# face_index.json은 예외
!vit/preprocess/datasets/face_index.json

# Mac OS
.DS_Store

*.npy

# runtime logs
*.log
vit.log
vit_*.log