# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
*.so
*.dll

# Virtual Environments
.venv/
.venv_*/
venv/
env/

# Outputs / Artifacts
vit/outputs/
outputs/

# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
