# python
__pycache__/
*.pyc
*.pyo

# venv
.venv/
venv/

# env
.env

# logs
logs/

# model artifacts
*.pt
*.pth
*.ckpt

# 데이터 및 결과물 제외
/mnt/images/
checkpoint.csv
results.csv

# 모델 웨이트 (용량 커서 제외함//혹시 이상 있으면 이거 수정바람)
models/